.title_comment {
    font-size: 0.9em;
    position: relative;
}
.comment_delete {
    border: none;
    background: white;
    position: absolute;
    right: 15px;
}
#content_comment{
    width: 100%;
    border-radius: 30px;
    background-color: grey;
    filter: brightness(190%);
    font-size: 0.9em;
}