.bouton {
    text-decoration: none;
    height: 60px;
    width: 200px;
    border-radius: 40px;
    background-color: white;
    color: #282c34;
    font-weight: bold;
    font-size: 1.2em;
    transition: 0.5s;

}
.bouton:hover {
    box-shadow: 3px 3px 3px grey;
    background: #f05837;
    color: white;
}
.title {
    margin-top: -40px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 4em;
}
.text-presentation {
    padding-left: 100px;
    padding-right: 100px;
    font-style: italic;
}
