.login-form-2{
    padding-left: 60px;
    padding-right: 60px;
    background: #f05837;
}

.btnSubmit2{
    text-decoration: none;
    width: 60%;
    color: #282c34;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:10px;
    transition: 0.5s;
}
.btnSubmit2:hover {
    color: white;
    background-color: #282c34;
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .login-form-2{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .login-form-2{
        padding-left: 40px;
        padding-right: 40px;
    }
    
}

@media screen and (max-width:501px) {
    .login-form-2{
        padding-left: 10px;
        padding-right: 10px;
    }
}