.member-service{
    font-size: 0.7em;
}
.member-info2 {
    font-size: 0.8em;
}

@media screen and (max-width: 991px) {
    .member-list{
        display: none;
    } 
}

@media screen and (min-width: 992px) {
    .member-item2{
        display: none;
    } 
}