.member-name {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    color: #f05837;
}
.member-service{
    font-size: 0.7em;
}
.member-info2 {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    color: #f05837;
}

@media screen and (max-width: 991px) {
    .member-list{
        display: none;
    } 
}

@media screen and (min-width: 992px) {
    .member-item2{
        display: none;
    } 
}