#content_newcomment{
    width: 100%;
    border-radius: 30px;
    height: 0px;
}
.new-comment {
    position: relative;
}
.send_comment{
    position: absolute;
    right: 30px;
    top: 18px;
}
.comment-button {
    border:none;
    background-color: white;
}
.bi-arrow-right-circle-fill {
    font-size: 1.1em;
    color: #f05837;
}