.fileContainer [type="file"] {
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    display: block;
    text-align: right;
}

#textarea{
    width: 100%;
}

.new-postbox {
}

.attachments{
    position: relative;
    left: 600px;
    top: -60px;
}
