.content_post{
}
.count_likes{
    color: blue;
    font-size: 0.9em;
    text-align: right;
}
.title_post {
    position: relative;
    
}
.date_post {
    font-size: 0.8em;
}

.details_post a {
    text-decoration: none;
    font-weight: bold;
    color: #f05837;
}
.post_delete {
    border: none;
    background: white;
    position: absolute;
    right: 10px;
}

.bi-x-circle {
    font-size: 1.2em;
}
.like_post {
    border:none;
    background: none;
    font-size: 0.9em;
}

