.login-form-2{
  padding-left: 40px;
  padding-right: 40px;
  background: #f05837;
}

.err_message2 {
    color: white;
    margin-top: -20px;
    font-size: 0.7em;
  }
  
  .err_message2::before {
    display: inline;
    content: "⚠ ";
  }

  .btnSubmit{
    text-decoration: none;
    width: 60%;
    color: #282c34;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:10px;
    transition: 0.5s;
}
.btnSubmit:hover {
  color: white;
  background-color: #282c34;
  font-weight: bold;
}

@media screen and (max-width: 499px) {
  .login-form-1{
      padding-left: 10px;
      padding-right: 10px;
  }
}